/* Adaptive Colour */
:root{

    /* COLOUR VALUES */
    /* Base Colours */
    --coffee-white:#f8f8f8;
    --coffee-grey: rgb(29,30,32);
    --coffee-grey2:#171718;
    --coffee-grey3:rgb(96,104,112);
    --coffee-grey4:#b9b9b9;
    --coffee-black:#0b0b0b;
    --coffee-light:#eeeeee;

    /* Apple Inc. Colours */
    --apple-blue:  rgb(0,122,255);
    --apple-brown: rgb(162,132,94);
    --apple-cyan:  rgb(50,173,230);
    --apple-green: rgb(52,199,89);
    --apple-indigo:rgb(88,86,214);
    --apple-mint:  rgb(0,199,190);
    --apple-orange:rgb(255,149,0);
    --apple-pink:  rgb(255,45,85);
    --apple-purple:rgb(175,82,222);
    --apple-red:   rgb(255,59,48);
    --apple-teal:  rgb(48,176,199);
    --apple-yellow:rgb(255,204,0);

    /* SETTINGS */
    /* Document Values */
    --accent-color:     var(--apple-blue);
    --accent-color-alt: var(--apple-cyan);

    /* Colour Theme Option */
    color-scheme: light dark;
}

@media (prefers-color-scheme: light) {
    :root{
        --body-colour:      var(--coffee-white);
        --body-colour-alt:  var(--coffee-grey);
        --body-colour-alt2: var(--coffee-light);
        --font-colour:      var(--coffee-black);
        --font-colour-alt:  var(--coffee-grey2);
    }
}


@media (prefers-color-scheme: dark) {
    :root{

        /*
        --body-colour:      var(--coffee-white);
        --body-colour-alt:  var(--coffee-grey);
        --body-colour-alt2: var(--coffee-light);
        --font-colour:      var(--coffee-black);
        --font-colour-alt:  var(--coffee-grey2);
        */

        --body-colour:      var(--coffee-grey);
        --body-colour-alt:  var(--coffee-grey3);
        --body-colour-alt2: var(--coffee-black);
        --font-colour:      var(--coffee-white);
        --font-colour-alt:  var(--coffee-white);
        
    }
}


/* Document Structure Styling */
html{
    width: 100vw;
    overflow-x: hidden;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--body-colour);
    color: var(--font-colour);
    font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', sans-serif;
    user-select: none;
}

/* MOBILE */
@media only screen and (min-width: 414px) {
    .titlebar{
        width: 100vw;
        background-color: var(--body-colour);
        border: 1px solid var(--coffee-light);
        box-shadow: 0px 0px 5px 0px var(--coffee-light);
    }
    .sidebar{
        visibility: hidden;
    }
    .content-area{
        width: 100vw;
        margin: 0px;
        margin-top: 70px;
        border: 0px;
        padding: 20px;
    }
    .content-inner{
        width: calc(100vw - 40px);
        margin: 0px;
        margin-top: 70px;
        border: 0px;
    }
    .footer-item{
        width: 100vw;
        height: 40px;
        line-height: 40px;
        display: block;
    }
}

@media only screen and (min-width: 771px) {
    .titlebar{
        width: 300px;
        background-color: transparent;
        border: 0;
        box-shadow: none;
    }

    .content-area{
        width: calc(100vw - 375px);
        margin-left: 300px;
        padding: 20px;
        padding-top: 62px;
        padding-left: 30px;
        padding-bottom: 0px;
        border-left: 1px solid var(--body-colour-alt2); /*rgb(237,237,237);*/
    }
    .sidebar{
        visibility: visible;
    }
    .content-inner{
        max-width: 1000px;
    }
    .footer{
        display: flex;
    }
    .footer-item{
        width: 33vw;
        height: 100px;
        line-height: 75px;
        margin-left: auto;
        margin-right: auto;
    }
}

.titlebar{
    min-height: 60px;
    height: fit-content;
    /*vwidth: 300px;*/
    text-align: left;
    position: fixed;
    /*background-color: var(--body-colour);
    border-bottom: 1px solid var(--body-colour-alt2);
    box-shadow: 0px 0px 10px 0px var(--body-colour-alt2);*/
    z-index: 999;
    display: relative;
    word-wrap: break-word;
}

.logo{ 
    height: 26px;
    width: 40px;
    margin-top: 15px;
    margin-left: 20px;
    display: inline-block;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image:  url('./assets/croissant/apple-touch-icon.png');
}

.title-text{
    position: absolute;
    top: 0px;
    left: 55px;
    min-height: 60px;
    height: fit-content;
    width: auto;
    display: inline;
    margin-top: 0px;
    margin-left: 10px;
    font-size: 28px;
    font-weight: lighter;
    line-height: 60px;
    color: var(--body-colour-alt);
}


.sidebar{
    width: 284px;
    display: inline-block;
    vertical-align: top;
    padding: 8px;
    position: fixed;
}

.spacer{
    height: 15px;
}

.nav-item, .nav-sub-item{
    height: 20px;
    width: 252px;
    padding-top: 6px;
    padding-left: 16px;
    padding-bottom: 6px;
    padding-right: 16px;
    color: rgb(96,104,112);
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 0.25rem;
    cursor: pointer;
}

.nav-sub-item{
    width: 237px;
    margin-left: 16px;
}

.nav-item:hover, .nav-sub-item:hover{
    background-color: rgb(242,242,242);
    color: var(--accent-color);
}

.content-area{
    display: inline-block;
    min-height:100vh;
    max-height: fit-content;
    width: calc(100vw - 375px);
    vertical-align: top;
    margin-top: 0px;
}

.content-inner{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    word-wrap: break-word;
}

.footer{
    height: 250px;
    width:100vw;
    background-color: var(--body-colour-alt);
    color: #b9b9b9;
    font-weight: lighter;
}

.footer-item{
    display: block;
    text-align: center;
}

.footer-credit{
    display: block;
    height: 30px;
    width: 100vw;
    text-align: center;
    color: #b9b9b9;
    background-color: var(--body-colour-alt);
    font-size: 13px;
    font-weight: heavy;
}


/* Content Styling */
hr{
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.2;
    margin-top: 75px;
    margin-bottom: 75px;
}

#hr2{
    width: 20%;
    margin-top: 60px;
    margin-bottom: 110px;
    opacity: 0;
}

h1{
    background: linear-gradient(45deg, var(--accent-color) 30%, var(--accent-color-alt) 60%);
    background-repeat: no-repeat;
    background-size: 100% .3em;
    background-position: 0 95%;
    width: fit-content;
    scroll-margin-top: 75px;
    font-weight: 600;
}

a{
    color: var(--accent-color);
}

.section-subtitle{
    margin-top: 20px;
    height: 30px;
    display: flex;
    justify-content: space-between;
}
.section-subtitle-text{
    line-height: 30px;
    font-weight: 500;
    font-size: 20px;
}

.section-content{
    margin-top: 10px;
    margin-bottom: 40px;
}

.code{
    background-color: rgb(242,242,242);
    border-radius: 0.25rem;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    user-select: text;
    margin-bottom: 10px;
    display: block;
}

.tooltip-optional, .tooltip-required{
    border: 1px solid;
    border-left: 5px solid;
    border-radius: 2px;
    border-left: 5px solid;
    padding-left: 5px;
    padding-right: 5px;
    width: fit-content;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 30px;
}

.tooltip-optional{
    color: #856404;
    border-color: #ffeeba;
    background-color: #fff3cd;

}

.tooltip-required{
    color: #721c24;
    border-color: #f5c6cb;
    background-color: #f8d7da;
}
